<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite preserve-order="true" name="enquiresFlow Regression Pack">
    <test name="Smoke Test For enquiresFlow">
        <classes>
            <class name="Assignment_1.MostActiveCounter"></class>
        </classes>

    </test>

</suite>